@media (min-width: 768px) {
  .container-fluid {
    max-width: 750px;
  }
  .lgTitle {
    font: 5rem/7.4rem 'Roboto Slab', serif;
  }
  .lgTitle .boldTitle {
    display: inline;
  }
  .mdTitle {
    font: 700 3.6rem/4rem 'Roboto Slab', serif;
    position: relative;
  }
  .mdTitle:after {
    content: "";
    width: 67px;
    height: 5px;
    background-color: #e4eaf2;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -27px;
  }
  .smTitleNarrow {
    font: 300 2.2rem/3.1rem 'Open Sans', sans-serif;
  }
  .smTitle {
    font: 700 1.8rem/3rem 'Open Sans', sans-serif;
  }
  .smText {
    font: 1.8rem/2.5rem 'Open Sans', sans-serif;
  }
  .blueCircleNumber {
    font: 700 2rem/2rem 'Roboto Slab', serif;
  }
  header {
    padding: 0;
  }
  header:after {
    content: "";
    background: url("../img/backgraound/headerBg_2.png") no-repeat center center;
    width: 577px;
    height: 477px;
  }
  header .headerContent {
    text-align: center;
    padding: 176px 0 209px;
  }
  header .smText {
    padding: 23px 125px 36px;
  }
  header .logoContainer {
    height: 51px;
    margin: 0;
    border-bottom: none;
    line-height: 51px;
    margin-top: 12px;
  }
  header .logo {
    left: 0;
  }
  header .logo img {
    width: auto;
  }
  .logoList img {
    width: auto;
  }
  .logoList img.shopify {
    width: auto;
  }
  .logoList ul {
    height: 114px;
    padding: 0;
  }
  .logoList li {
    line-height: 114px;
    margin: 0;
  }
  .whatDoYouWantToDo {
    padding: 74px 0 100px;
  }
  .whatDoYouWantToDo .container-fluid {
    padding: 0;
  }
  .whatDoYouWantToDo .listContent {
    margin: 87px 0 0;
  }
  .whatDoYouWantToDo li {
    padding: 0 7px;
  }
  .whatDoYouWantToDo .innerBox {
    height: 380px;
    padding: 40px 30px 0;
    position: relative;
  }
  .whatDoYouWantToDo .mdTitle {
    padding: 0;
  }
  .whatDoYouWantToDo .smTitleNarrow {
    padding: 0 10px 7px;
  }
  .whatDoYouWantToDo .imgContainer {
    height: auto;
  }
  .whatDoYouWantToDo .img-responsive {
    position: static;
    transform: none;
    top: auto;
    left: auto;
  }
  .whatDoYouWantToDo .textContainer {
    position: static;
    text-align: center;
    height: auto;
    padding-top: 0;
  }
  .whatDoYouWantToDo .blueLink {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 50px;
  }
  .howDoesItWork {
    padding: 148px 0 185px;
  }
  .howDoesItWork:before {
    content: "";
    background: url("../img/backgraound/howDoesItWorkBg.png") no-repeat center center;
    width: 586px;
    height: 409px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .howDoesItWork li {
    margin-bottom: 0;
  }
  .howDoesItWork .listContent {
    margin: 87px -20px 0;
  }
  .howDoesItWork .textContainer {
    padding-left: 0;
  }
  .howDoesItWork .smTitle {
    padding: 30px 5px 20px 0;
    margin-bottom: 0;
  }
  .howDoesItWork .blueCircleNumber {
    margin-left: 10px;
    position: relative;
    top: auto;
    left: auto;
  }
  .howDoesItWork .simpleText {
    padding-right: 40px;
    font: 1.3rem/2rem 'Open Sans', sans-serif;
  }
  .successStories {
    padding: 95px 0 122px;
  }
  .successStories .row {
    margin: 87px -35px 0;
  }
  .successStories li {
    padding: 0 35px;
    margin-bottom: 0;
  }
  .getAllThisAndMore {
    padding: 134px 0 212px;
  }
  .letsTalk {
    width: auto;
  }
  .letsTalk .emailInput {
    width: 470px;
    padding: 0 200px 0 28px;
  }
  .letsTalk .emailBtn {
    width: 190px;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    font: 700 1.8rem 'Open Sans', sans-serif;
    margin-top: 0;
  }
}
